/* -------- FONDO MODAL -------- */
.popup-wrapper {
  --background: rgba(0, 0, 0, 0.35);

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

/* -------- CARD -------- */
.popup-card {
  background: #ffffff;
  padding: 25px;
}

/* -------- TITULO -------- */
.trend-title {
  text-align: center;
}

/* -------- DETALLES -------- */
.detail-item {
  margin-bottom: 25px;
  font-family: var(--font-text);

  .label {
    margin-bottom: 5px;
    color: var(--color-tang);
  }

  .value {
    margin: 0;
    color: var(--color-electric);
  }
}

/* -------- BOTON CERRAR -------- */
.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;

  ion-icon {
    font-size: 22px;
    color: var(--color-electric);
  }
}


