/* TITULO */
.trend-title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-electric);
  line-height: 1.2;
  text-align: center;

  /* evita que el botón empuje el texto */
  flex: 1;
}


/* DETALLES */
.detail-item {
  text-align: left;
}

.label {
  font-size: 13px;
  color: var(--color-tang);
  margin-bottom: 4px;
}

.value {
  font-size: 15px;
  color: var(--color-electric);
  margin: 0;
}
