<div class="popup-wrapper">

  <!-- Card Popup -->
  <div class="popup-card">

    <!-- Botón cerrar -->
    <button class="close-btn" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </button>

    <!-- Título -->
    <h1 class="trend-title">{{ trend.trend_name }}</h1>

    <!-- Items -->
    <div class="detail-item">
      <p class="label">Categoría:</p>
      <p class="value">{{ trend.category }}</p>
    </div>

    <div class="detail-item">
      <p class="label">Número de Publicaciones:</p>
      <p class="value">{{ trend.post_count }}</p>
    </div>

    <div class="detail-item">
      <p class="label">Trending Desde:</p>
      <p class="value">{{ trend.trending_since }}</p>
    </div>

    <!-- Botón Crear Contenido -->
    <ion-button class="button-general" expand="block" (click)="crearContenido()">
      Crear Contenido
    </ion-button>

  </div>

</div>
