<ion-content>

  <div class="modal-overlay">
    <div class="popup-card">

      <div class="card-header">
        <h2 class="title">Actualizar Contraseña</h2>

        <ion-button
          class="close-btn"
          fill="clear"
          (click)="close()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </div>

      <div class="form-center">

        <div class="form-box">

          <!-- Nueva contraseña -->
          <div class="input-group">
            <p>Nueva contraseña</p>
            <ion-item>
              <ion-input
                [(ngModel)]="newPassword"
                [type]="showNewPassword ? 'text' : 'password'"
                placeholder="********">
              </ion-input>

              <ion-icon class="eye-icon"
                slot="end"
                [name]="showNewPassword ? 'eye-off-outline' : 'eye-outline'"
                (click)="showNewPassword = !showNewPassword">
              </ion-icon>
            </ion-item>
          </div>

          <!-- Confirmar contraseña -->
          <div class="input-group">
            <p>Confirmar contraseña</p>
            <ion-item>
              <ion-input
                [(ngModel)]="confirmPassword"
                [type]="showConfirmPassword ? 'text' : 'password'"
                placeholder="********">
              </ion-input>

              <ion-icon class="eye-icon"
                slot="end"
                [name]="showConfirmPassword ? 'eye-off-outline' : 'eye-outline'"
                (click)="showConfirmPassword = !showConfirmPassword">
              </ion-icon>
            </ion-item>
          </div>


          <ion-button expand="block" (click)="onResetPassword()">
            Actualizar
          </ion-button>

        </div>
      </div>
    </div>
  </div>
</ion-content>
