<ion-content class="reset-container" fullscreen>

  <div class="center-wrapper">

    <div class="form-center">

      <div class="form-box">

        <h2>Nueva Contraseña</h2>

        <!-- Nueva contraseña -->
        <div class="input-group">
          <p>Nueva contraseña</p>
          <ion-item>
            <ion-input
              [(ngModel)]="newPassword"
              type="password"
              placeholder="********">
            </ion-input>
          </ion-item>
        </div>

        <!-- Confirmar contraseña -->
        <div class="input-group">
          <p>Confirmar contraseña</p>
          <ion-item>
            <ion-input
              [(ngModel)]="confirmPassword"
              type="password"
              placeholder="********">
            </ion-input>
          </ion-item>
        </div>

        <ion-button expand="block" (click)="onResetPassword()">
          Actualizar Contraseña
        </ion-button>

      </div>
    </div>
  </div>

</ion-content>
