/* TITULO */
.title {
  margin: 0;
  font-size: 22px;
  font-weight: 600;
  color: var(--color-electric);
  line-height: 1.2;
  text-align: center;

  /* evita que el botón empuje el texto */
  flex: 1;
}

.form-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-box {
  width: 100%;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;

  ion-item {
    --background: #f2f2f2;
    --border-radius: 8px;
    --padding-start: 10px;
    --inner-padding-end: 10px;
    margin-top: 2px;
  }

  ion-input {
    color: var(--color-electric);
    font-family: var(--font-text);
  }
}

.eye-icon {
  color: var(--color-electric);
  font-size: 22px;
  cursor: pointer;
}
