// Estilos mínimos usando solo clases utility de Ionic
ion-card {
  background-color: var(--color-tang);
}

ion-card-title {
  color: var(--color-electric);
  font-family: var(--font-heading);
  text-align: center;
}