<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard"  text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Ajustes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div class="home-wrapper">
    <!-- TARJETA PRINCIPAL -->
    <div class="settings-card">

      <!-- Longitud -->
      <div>
        <ion-label class="range-value">Longitud: {{ length }} car.</ion-label>
        <ion-range class="custom-pin"
          [(ngModel)]="length"
          min="1"
          max="280"
          pin="true"
          (ionChange)="saveSettings()">
        </ion-range>
      </div>

      <!-- Tono -->
      <div>
        <ion-label class="range-value">Tono: {{ getToneLabel() }}</ion-label>
        <ion-range class="custom-pin"
          [(ngModel)]="tonePercentage"
          min="0"
          max="3"
          pin="true"
          (ionChange)="saveSettings()">
        </ion-range>
      </div>

      <!-- Toggles -->
      <div class="toggle-item-container">
        <ion-item lines="none" class="range-value">
          <ion-label class="range-value">Hashtags</ion-label>
        <ion-toggle [(ngModel)]="hashtags" (ionChange)="saveSettings()"></ion-toggle>
        </ion-item>
      </div>

      <div class="toggle-item-container">
        <ion-item lines="none" class="range-value">
          <ion-label class="range-value">Emojis</ion-label>
          <ion-toggle [(ngModel)]="emojis" (ionChange)="saveSettings()"></ion-toggle>
        </ion-item>
      </div>

      <!-- Espacio antes del botón -->
      <div class="spacer"></div>

      <!-- BOTONES -->
      <ion-button expand="block" (click)="changePassword()">
        <ion-icon name="key-outline" slot="start"></ion-icon>
        Cambiar contraseña
      </ion-button>

      <ion-button class="color-green" expand="block" (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        Cerrar sesión
      </ion-button>

    </div>
  </div>

</ion-content>
