

.header-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: max-content;
}



.settings-card {
  flex: 1;
  background: #fff;
  border-top-left-radius: var(--r-xl);
  border-top-right-radius: var(--r-xl);
  padding: var(--space-7) var(--space-5);
  text-align: left;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.spacer {
  height: 16px;
}