@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Poppins:wght@500;600;700&display=swap');

/* ==========================================
GLOBAL DESIGN SYSTEM (NORMALIZADO)
========================================== */
:root {
/* ---- COLOR SYSTEM ---- */
    --color-electric: #303A95;
    --color-tang: #F8982E;
    --color-sky: #A9D7F3;
    --color-neon: #D8E022;
    --color-coldbrew: #D19082;
    --color-bg-light: #f7f9ff;
    --color-text-primary: #1a1a1a;
    --color-text-secondary: #7a7a7a;


    /* ---- RADIUS ---- */
    --r-base: 12px;
    --r-md: 16px;
    --r-lg: 26px;
    --r-xl: 45px;


    /* ---- SPACING SCALE ---- */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 28px;
    --space-7: 40px;


    /* ---- TYPOGRAPHY ---- */
    --font-heading: "Poppins", sans-serif;
    --font-text: "Inter", sans-serif;
    --font-body: 15px;
    --font-sm: 14px;
    --font-lg: 18px;
    --font-xl: 24px;
}