.login-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}


.center-wrapper {
  width: 90%;
  max-width: 420px;
  margin: auto;
  min-height: 100%;
  padding: var(--space-7) 0;
  display: flex;
  flex-direction: column;
}

ion-segment {
  background: #f2f2f2;
  border-radius: 12px;
  padding: 4px;
  margin-bottom: 25px;

  ion-segment-button {
    --indicator-color: transparent;

    --background: transparent;
    --background-checked: var(--color-electric);
    --color: var(--color-electric);
    --color-checked: #fff;
    
    transition: background-color .25s ease, color .25s ease;
  }

  ion-label {
    font-family: var(--font-text);
  }
}

.form-center {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.form-box {
  width: 100%;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;


  ion-item {
    --background: #f2f2f2;     /* fondo del input */
    --border-radius: 8px;       /* bordes redondeados */
    --padding-start: 10px;      /* padding interno */
    --inner-padding-end: 10px;
    margin-top: 2px;
  }

  ion-input {
    color: var(--color-electric);   /* texto ingresado */
    font-family: var(--font-text);
  }
}



ion-checkbox {
  --checkbox-background-checked: var(--color-electric);
  font-family: var(--font-text);
  color:var(--color-electric) ;

}

ion-checkbox::part(container) {
  border-radius: 6px;
  border: 1px solid var(--color-electric);
}


.forgot {
  text-align: center;
  margin-top: var(--space-3);
  font-size: var(--font-sm);
  color: var(--color-text-secondary);
}