<ion-content class="login-container" fullscreen>

  <div class="center-wrapper">

    <!-- SEGMENTO ARRIBA -->
    <ion-segment [(ngModel)]="isLogin">
      <ion-segment-button [value]="true">
        <ion-label>Iniciar Sesión</ion-label>
      </ion-segment-button>

      <ion-segment-button [value]="false">
        <ion-label>Registrarse</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- FORMULARIO CENTRADO -->
    <div class="form-center">

      <div class="form-box">

        <!-- TÍTULO -->
        <h2>
          {{ isLogin ? 'Bienvenido,' : 'Únete,' }}
        </h2>

        <!-- Email -->
        <div class="input-group">
          <p>Correo electrónico</p>
          <ion-item>
            <ion-input
              [(ngModel)]="email"
              type="email"
              placeholder="ejemplo@email.com">
            </ion-input>
          </ion-item>
        </div>

        <!-- Contraseña -->
        <div class="input-group">
          <p>Contraseña</p>
          <ion-item>
            <ion-input
              [(ngModel)]="password"
              type="password"
              placeholder="********">
            </ion-input>
          </ion-item>
        </div>

        <!-- BLOQUE LOGIN O REGISTRO -->
        <ng-container *ngIf="isLogin; else registerBlock">

          <!-- Botón login -->
          <ion-button expand="block" (click)="onSubmit()">
            Iniciar Sesión
          </ion-button>

          <p class="forgot">¿Has olvidado tu contraseña?</p>

        </ng-container>

        <!-- REGISTRO -->
        <ng-template #registerBlock>

            <ion-checkbox [(ngModel)]="accept" label-placement="end">Acepto los términos y condiciones</ion-checkbox>

          <ion-button expand="block" (click)="onSubmit()">
            Registrarse
          </ion-button>

        </ng-template>
      </div>
    </div>
  </div>

</ion-content>
