<ion-content class="login-container" fullscreen>

  <div class="center-wrapper">

    <!-- SEGMENT -->
    <ion-segment [(ngModel)]="isLogin" class="top-segment">
      <ion-segment-button [value]="true">
        <ion-label>Iniciar Sesión</ion-label>
      </ion-segment-button>

      <ion-segment-button [value]="false">
        <ion-label>Registrarse</ion-label>
      </ion-segment-button>
    </ion-segment>

    <!-- TÍTULO -->
    <h2 class="title">
      {{ isLogin ? 'Bienvenido,' : 'Únete,' }}
    </h2>

    <!-- FORMULARIO -->
    <div class="form-box">

      <!-- Email -->
      <div class="form-field">
        <label class="field-label">Correo electrónico</label>
        <ion-item class="input-box">
          <ion-input
            [(ngModel)]="email"
            type="email"
            placeholder="ejemplo@email.com">
          </ion-input>
        </ion-item>
      </div>

      <!-- Contraseña -->
      <div class="form-field">
        <label class="field-label">Contraseña</label>
        <ion-item class="input-box">
          <ion-input
            [(ngModel)]="password"
            type="password"
            placeholder="********">
          </ion-input>
        </ion-item>
      </div>

      <!-- BLOQUE LOGIN O REGISTRO -->
      <ng-container *ngIf="isLogin; else registerBlock">

        <!-- Botón login -->
        <ion-button expand="block" class="main-btn" (click)="onSubmit()">
          Iniciar Sesión
        </ion-button>

        <p class="forgot">¿Has olvidado tu contraseña?</p>

      </ng-container>

      <!-- Registro -->
      <ng-template #registerBlock>

        <!-- Aceptar políticas -->
        <div class="check-box">
          <ion-checkbox [(ngModel)]="accept"></ion-checkbox>
          <span>Acepto los términos y condiciones</span>
        </div>

        <!-- Botón registro -->
        <ion-button expand="block" class="main-btn" (click)="onSubmit()">
          Registrarse
        </ion-button>

      </ng-template>

    </div>

  </div>

</ion-content>
