<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Saludo personalizado -->
  <div>
    <h2>
      Hola <em>{{ user?.email }}</em>,<br>
      esto es lo que has publicado hasta ahora:
    </h2>
    <ion-icon
      name="funnel-outline"
      class="filter-icon"
      (click)="abrirFiltros()">
    </ion-icon>
  </div>

  <!-- Lista de historial -->
  <ion-list>
    <div class="date-label" *ngFor="let item of history">
      {{ item.created_at | date:'EEEE, d \'de\' MMMM \'de\' y' }}
      
      <ion-card>
        <ion-card-content>
          <p>{{ item.text }}</p>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
</ion-content>
