<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard" text=""></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Historial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="sticky">
    <h2>
      Hola <em>{{ user?.email }}</em>,<br />
      esto es lo que has guardado hasta ahora:
    </h2>

    <div class="filters ">
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionInput)="applyFilters()"
        placeholder="Buscar">
      </ion-searchbar>

      <ion-button class ="icon" fill="clear" aria-label="Mostrar calendario"
                  (click)="toggleCalendar()">
        <ion-icon name="calendar-number-outline"></ion-icon>
      </ion-button>

      <ion-button class="icon" (click)="clearDateFilter()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>

    </div>

    <ion-datetime
      *ngIf="showCalendar"
      [(ngModel)]="selectedDate"
      (ionChange)="applyFilters()"
      presentation="date">
    </ion-datetime>
  </div>

  <ion-list>
    <ng-container *ngFor="let item of filteredItems">
      <div class="date-label">
        {{ item.created_at | date:'EEEE d \'de\' MMMM' }}
      </div>

      <ion-card>
        <ion-card-content>
          {{ item.text }}
        </ion-card-content>
      </ion-card>
    </ng-container>
  </ion-list>

</ion-content>