.header-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: max-content;
}


.sticky {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100;
  align-items:center ;
  padding: 0 16px;
}

.filter-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
}

.date-label {
  margin-top: 20px;
  color: var(--color-electric);
  font-weight: 600;
}

/* Estilo para el área de filtros que es sticky */
.filters {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 16px;
  z-index: 100;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  display: flex;
  justify-content: left;
  margin-top: 8px;

  ion-searchbar{

    --color: var(--color-electric);
    --background: white;

    --input-font-size: var(--font-sm);
    --placeholder-font-size: var(--font-sm);

    font-family: var(--font-text);
  }
}


ion-list{
  padding: 0 16px;
  background: white;
}

.date-label {
  margin-top: 16px;
  font-size: 1.1rem;
  color: var(--color-electric);
  font-weight: 600;
}

.icon{
  --background: transparent;
  --color: var(--color-electric);
}