<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button aria-label="Settings" (click)="goToSettings()">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="header-title">Inicio</ion-title>
    <ion-buttons slot="end">
      <ion-button aria-label="History" (click)="goToHistory()">
        <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding dashboard-container">

  <!-- FECHA -->
  <div class="date-pill">
    <ion-icon name="calendar-outline"></ion-icon>
    <p>{{ currentDate }}</p>
  </div>

  <!-- BIENVENIDA -->
  <h2>Bienvenido,</h2>
  <p class="username">{{ user?.email }}</p>

  <!-- LOADING -->
  <div *ngIf="isLoading" class="ion-text-center ion-padding-vertical">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando noticias...</p>
  </div>

  <div>
    <!-- SWIPER -->
    <swiper-container
      *ngIf="!isLoading && trendingNews.length > 0"
      [slidesPerView]="slideOpts.slidesPerView"
      [spaceBetween]="slideOpts.spaceBetween"
      [pagination]="slideOpts.pagination"
      (swiperslidechange)="onSlideChange($event)"
    >
      <swiper-slide *ngFor="let news of trendingNews">
        <app-trend-card [news]="news"></app-trend-card>
      </swiper-slide>

    </swiper-container>

    <!-- BOTONES -->
    <div class="button-row">
      <ion-button expand="block" (click)="goToDetail()">
        Detalles
      </ion-button>

      <ion-button expand="block" (click)="goToNew()">
        Crear
      </ion-button>
    </div>
  </div>


  <!-- SIN NOTICIAS -->
  <ion-text
    *ngIf="!isLoading && trendingNews.length === 0"
    color="medium"
    class="ion-text-center ion-padding-vertical"
  >
    <p>No hay noticias de tendencia disponibles en este momento.</p>
  </ion-text>

  <!-- SYNC / Footer -->
  <div class="sync-footer">
    <p>Última actualización {{ lastUpdate }}</p>
    <ion-button fill="clear" size="small" (click)="refreshCards()">
      <ion-icon name="refresh-outline"></ion-icon>
    </ion-button>
  </div>

</ion-content>
