.dashboard-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

ion-toolbar ion-button {
  --background: transparent;
  --color: var(--color-electric);
}


.date-pill {
display: flex;
justify-content: center;
align-items: center;
background: var(--color-neon);
border-radius: var(--r-base);
color: var(--color-electric);
gap: var(--space-5);
}


.username {
font-style: italic;
color: var(--color-electric);
}


.button-row {
  display: flex;          /* Habilita flexbox */
  gap: 10px;              /* Espacio entre botones */
}

.button-row ion-button {
  flex: 1;                /* Cada botón ocupa el mismo ancho */
}

.sync-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   /* ?? Centra horizontalmente */
    gap: 12px;                 /* (opcional) separa el texto y el botón */
    background-color: #fff;
    padding: 10px 16px;
    z-index: 1000;
}
.sync-footer ion-button {
  --background: transparent;   /* Sin fondo */
  color:var(--color-text-secondary);
}

.sync-footer p {
  color:var(--color-text-secondary);
}

.modal-popup {
--width: 100%;
--border-radius: var(--r-base);
}
