.header-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: max-content;
}


.dashboard-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  height: 100%;
  gap: 16px;
}

ion-toolbar ion-button {
  --background: transparent;
  --color: var(--color-electric);
}


.date-pill {
display: flex;
justify-content: center;
align-items: center;
background: var(--color-neon);
border-radius: var(--r-base);
color: var(--color-electric);
gap: var(--space-5);
}


.username {
font-style: italic;
color: var(--color-electric);
}


.button-row {
  display: flex;
  gap: 10px;
}

.button-row ion-button {
  flex: 1;
}

.sync-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;   /* ?? Centra horizontalmente */
    gap: 12px;                 /* (opcional) separa el texto y el botón */
    background-color: #fff;
    z-index: 1000;
    padding-bottom: calc(10px + env(safe-area-inset-bottom));
}
.sync-footer ion-button {
  --background: transparent;   /* Sin fondo */
  color:var(--color-text-secondary);
}

.sync-footer p {
  color:var(--color-text-secondary);
}

.modal-popup {
--width: 100%;
--border-radius: var(--r-base);
}

/* 1) Reserva espacio para los bullets */
.mySwiper {
  height: 100%;
  padding-bottom: 10px;           /* espacio real para la paginación */
  --swiper-pagination-bottom: 10px; /* (extra) ayuda a fijar la paginación abajo */
}

/* 2) Sube el contenido del slide para que no se “cruce” con los bullets */
swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px; /* mismo espacio que arriba (evita overlay) */
}

/* 3) Asegura que la paginación quede abajo del todo */
:host .mySwiper::part(pagination) {
  bottom: 10px;
}

/* (Opcional) estilo bullets */
:host .mySwiper::part(bullet) {
  background: #ddd;
  opacity: 1;
}

:host .mySwiper::part(bullet-active) {
  background: var(--color-electric);
}
