<ion-content class="welcome-page">

  <!-- Contenedor general con FLEX -->
  <div class="wrapper">

    <!-- Parte azul -->
    <div class="top-section">
      <img src="/assets/img/creator.png" alt="Creator" class="illustration">
    </div>

    <!-- Parte blanca que DEBE expandirse -->
    <div class="bottom-card">
      <h2>Bienvenido a<br>Content Creator</h2>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
      </p>

      <ion-button expand="block" class="btn-continue" (click)="goToLogin()">
        Continuar
      </ion-button>
    </div>

  </div>

</ion-content>
